<!-- <header>
    <div class="images">
        <img src="assets/logo.svg" alt="" srcset="">
        <button class="theme-switch" (click)="toggleTheme()">
            <span><img [src]="isDarkTheme ?'assets/Sun_fill.svg':'assets/Moon_fill.svg'" alt="" srcset=""></span>
        </button>
    </div>
</header>

    <div class="file-upload-window">
        <div class="inner-border">
            <img src="assets/exit.svg" alt="" srcset="">
            <div class="text">
                <p>Drag & drop a file or <span style="color: blue;">browse files</span></p>
                <p class="light">JPG, PNG or GIF - Max file size 2MB</p>
            </div>
        </div>
    </div> -->