body {
    background-color: var(--main-content-background-color);
}

header {
    height: 5rem;
    border-bottom: 1px solid var(--header-border-color);
    padding: 1.5rem 4rem 1rem 4rem;
    background-color: var(--header-background-color);
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-switch {
    background-color: var(--upload-box-color);
    outline: none;
    border: 1px solid #E5E7EB;
    box-shadow: 1px #E5E7EB;
    border-radius: 20%;
}

.file-upload-window {
    height: 20em;
    width: 40%;
    margin: 7rem 20rem 10rem 30rem;
    background-color: var(--upload-box-color);
    box-shadow: 5px 5px 5px 5px #E5E7EB;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.file-upload-window .inner-border {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed var(--upload-box-color);
    border-radius: 0.5rem;
    padding: 8rem;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.text {
    padding-top: 0.875rem;
}

.light {
    margin-bottom: 2rem;
    font-size: 12px;
    font-weight:normal;
} 